 @import url('https://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin-ext');
 @import url('nasalization-rg.ttf');
 body {
    font-family: "Dosis", sans-serif;
}

body {
    background-color: #111;
    background-image: url('gow-bg-blue.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


/* FLEX */

#wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
}

#footer {
    width: 100%;
}


/* STYLING */

h1,h2,h3 {
    text-align: center;
    margin: 50px 0 10px 0;
    padding: 3px 0px;
    color: white;
    width: auto;
    background-color: rgba(65,105,205,0.7);
    font-family: "Nasalization", sans-serif;
}
h1,h2{
    flex: 1 0 100%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

p,
ul,
ol,
form, div.event, iframe {
    font-size: 24px;
    margin: 10px auto;
    width: 800px;
    flex: 0 1 auto;
    font-weight: normal;
    background: rgba(65,105,205,0.7);
    color: #eee;
    list-style-position: inside;
}

div.event ul, div.event p, div.event ol, div.event form, div.event h3{
  background: none;
}

p,ul,ol{
	padding: 10px;
}
p img{
}
form ol{
	padding:4px;
}
p {text-align: center;}

a {
    color: #ccc;
}

a:hover {
    text-decoration: none;
}

.center {
    width: 720px;
    flex: 0 1 auto;
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
div.event img{
  background-color: midnightblue;
   filter: opacity(40%)saturate(30%)brightness(130%);
   	transition: 1s;

}
div.event:hover img{
   filter: opacity(80%)saturate(200%)brightness(100%);
}
.small-img{
    width: 800px;
}
.archive{
    margin: 10px;
    flex: 1 1 350px;
    max-width:600px;
}
.cover {
    border: 12px solid floralwhite;
}

.vysledky {
    width: 700px;
}

.social {
    margin: 10px auto;
    padding: 10px 0px;
    border-top: 1px dashed floralwhite;
    border-bottom: 1px dashed floralwhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.social img {
    width: 80px;
    margin: auto;
}

ul#menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: none;
    padding: 0;
    //border-bottom: 1px solid white;
    margin:0;
    background-color: rgba(65,105,205,0.7);
}

#menu li {
    list-style: none;
    padding: 3px;
    margin: 5px 20px;
}

#menu li a {
    text-decoration: none;
}

#menu li a:hover {
    color: #eee;
    text-decoration: underline;
}

#menu-button{
    display:block;
    position: fixed;
    top:10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: url('../img/menu-button.png') 0 0;
}
#menu-button:hover{
//    background: url('../img/menu-button.png') -50px 0;
}
#menu-button a{
	//visibility: hidden;
	display: block;
	height: 50px;
	width: 50px;
}
#menu-button a:hover {
    background: url('../img/menu-button.png') -50px 0;
}

/* Google Form */

form {
    width: 500px;
    padding: 15px;
}

form ol {
    width: 100%;
}

form div {
    text-align: left;
}

form .ss-secondary-text {
    font-size: small;
    color: #ccc;
}

form .required-message {
    display: none;
}

form textarea,
form input {
    /*  display: block;
  margin: 0px auto;*/
    width: 98%;
    max-width: 98%;
    border: 1px solid lightsteelblue;
    font-family: monospace, "Courier New";
    font-size: initial;
    background: white;
    color: #333;
}

form table {
    width: 100%;
}

form .ss-q-title {
    margin-top: 10px;
}

@media all and (min-width: 1600px),
{
    body {
        background-size: 100% auto;
    }
}
